<div class="homepage-conteiner">
    <div class="homepage-conteiner__left-pannel">
        <div class="left-title">
            <img alt="icon" src="../../../../favicon.ico">
            <h1>TurboCRM</h1>
            <h3>Fast, Simple, Everywhere</h3>
        </div>
        <div class="parall">

        </div>
    </div>
    <div class="homepage-conteiner__right-pannel">
        <p class="welcome-title">Hi, Welcome! <span></span>👋</p>
        <button type="menu" class="button" (click)="createUserEvent()">Create New Account</button>
        <button type="menu" class="button" (click)="loginUserEvent()">Log In</button>
    </div>
</div>