.homepage-conteiner {
    display: flex;
    height: 100vh;


    &__left-pannel {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 30%;


    }

    &__right-pannel {
        display: flex;
        min-height: 100vh;
        width: 70%;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: auto;
    }
}

.welcome-title {
    font-size: 32px;
    font-weight: 700;
}

.parall {
    position: absolute;
    display: flex;
    left: -15%;
    height: 100%;
    width: 110%;
    z-index: 0;
    background-color: black;
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    -o-transform: skew(-5deg);
}

.left-title {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    position: absolute;
    z-index: 1;

    img {
        padding-top: 40px;
        background-color: black;
    }

    h1 {
        color: white;
        margin-bottom: 0%;
        background-color: black;
        font-weight: 700;
        font-size: 50px;
        font-variant: small-caps;
    }

    h3 {
        color: var(--gold-color);
        background-color: black;
        font-size: 20px;
    }
}